
# Created by https://www.gitignore.io/api/jekyll,virtualenv

### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Mm]an
[Ss]cripts
[Tt]cl
pyvenv.cfg
.venv
pip-selfcheck.json
.env
.pyc

# End of https://www.gitignore.io/api/jekyll,virtualenv
